<h3 id="exportState">{{getString 'exportStateTextExporting'}}</h3>
<p>
    {{getString 'exportProgressBarDescription'}}
    <progress id="exportProgressBar" value="0" max="{{max}}" />
</p>
<span id="exportNumber">0</span>
<span>{{getString 'of'}} {{max}}</span>
<br>
<span>{{getString 'exportTimeRemainingDescription'}}</span>
<span id="exportTimeRemaining">???</span>
<span>s</span>