<div class="form-group">
    <label for="pnavLanguage">{{getString 'pnavLanguageDescription'}}</label>
    <select id="pnavLanguage">
    </select>
</div>
<div>
    <label for="webhookUrl" title="{{getString 'pnavhookurlTitle'}}">{{getString 'pnavhookurlDescription'}}</label>
    <input type="url" style="width:100%" id="webhookUrl"
        value="{{#if settings.webhookUrl}}{{settings.webhookUrl}}{{/if}}"
        pattern="^https?://(ptb.|canary.)?discord(app)?.com/api/webhooks/[0&#45;9]{1,20}/[^\/]*$" />
    <div style="color: red; display:none;">{{getString 'lblErrorWHText'}}</div>
</div>
<div class="form-group">
    <label for="useBot" title="{{getString 'useBotTitle'}}">{{getString 'useBotText'}}</label>
    <input type="checkbox" id="useBot" {{#if settings.useBot}} checked{{/if}}>
</div>
<div class="form-group">
    <Label for="name" title="{{getString 'pnavCodenameTitle'}}">{{getString 'pnavCodenameDescription'}}</label>
    <input id="name" type="text" placeholder="${window.PLAYER.nickname}" value="{{settings.name}}">
</div>
<div>
    <label id="center" for="latlng" title="{{getString 'pnavCenterTitle'}}">{{getString
        'pnavCenterDescription'}}</label>
    <input id="latlng" size="17" type="text"
        pattern="^-?&#92;d?&#92;d(&#92;.&#92;d+)?, -?1?&#92;d?&#92;d(&#92;.&#92;d+)?$"
        value="{{#if settings.lat includeZero=true}}{{#if settings.lng includeZero=true}}{{settings.lat}}, {{settings.lng}}{{/if}}{{/if}}">
    <div style="color:red;display:none;">{{getString 'lblErrorCnText'}}</div>
</div>
<div class="form-group">
    <label for="radius" title="{{getString 'pnavRadiusTitle'}}">{{getString 'pnavRadiusDescription'}}</label>
    <input id="radius" style="width:41px;appearance:textfield;-moz-appearance:textfield;-webkit-appearance:textfield"
        type="number" min="0" step="0.001" value="{{#if settings.radius includeZero=true}}{{settings.radius}}{{/if}}">
    <div style="color:red;display:none">{{getString 'lblErrorRdText'}}</div>
</div>
<div class="form-group">
    <button type="Button" id="btnEraseHistory" style="width:100%" title="{{getString 'btnEraseHistoryTitle'}}">
        {{getString 'btnEraseHistoryTextDefault'}}
    </button>
</div>
<div class="form-group">
    <button type="Button" id="btnImExport" style="width:100%" title="{{getString 'btnImExportTitle'}}">
        {{getString 'btnImExportText'}}
    </button>
</div>{{#if pogoToolsAvailable}}{{#if settings.webhookUrl}}
<div class="form-group">
    <button type="Button" id="btnBulkExportGyms" style="width:100%" title="{{getString 'btnBulkExportGymsTitle'}}">
        {{getString 'btnBulkExportGymsText'}}
    </button>
</div>
<div class="form-group">
    <button type="Button" id="btnBulkExportStops" style="width:100%" title="{{getString 'btnBulkExportStopsTitle'}}">
        {{getString 'btnBulkExportStopsText'}}
    </button>
</div>{{/if}}
<div class="form-group">
    <button type="Button" id="btnBulkModify" style="width:100%" title="{{getString 'btnBulkModifyTitle'}}">
        {{getString 'btnBulkModifyText'}}
    </button>
</div>{{/if}}